 .grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
 }
 @media(max-width:992px){
  .grid-container{
   grid-template-columns: repeat(2,1fr);
  }
 }
 @media(max-width:576px){
  .grid-container{
 grid-template-columns: 1fr;
}
 }
 .card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
 }
.card img {
  width:100%;
  height: 200px;
  object-fit: cover;
}
.card h1 {
  font-size: 2rem;
  margin: 15px,0;
}
.card p {
  font-size: 1.5rem;
  font-weight: bold;
  color:#2c3c5a;
}
.delete-btn{
  padding: 8px 16px;
  background-color: red;
  border: none;
  color:white;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:hover{
  background-color: black;
}


